/* public/css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/registration.gif') center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    text-align: center;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.registration-container {
    padding: 20px;
}

h2 {
    color: #333;
}

.input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    background-color: #46b449;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
